<div class="b-block-olympic-banner">
  <div class="b-block-olympic-banner__wrap">
    <div class="b-block-olympic-banner__wrap__logos">
      <div class="b-block-olympic-banner__wrap__logo-left">
        {{{ getSvg src=logoLeft}}}
      </div>
      <div class="b-block-olympic-banner__wrap__logo-right">
        {{{ getSvg src=logoRight}}}
      </div>
    </div>
    <div class="b-block-olympic-banner__wrap__content">
      <div class="b-block-olympic-banner__wrap__content__title">{{{title}}}</div>
      <div class="b-block-olympic-banner__wrap__content__descr">{{descr}}</div>
    </div>

    <div class="b-block-olympic-banner__wrap__triangle"></div>

    <div class="b-block-olympic-banner__wrap__bg">
      {{{getImg src="banner-bg.png"}}}
    </div>
  </div>
</div>