<div class="b-block-career-form b-block-career-form-new b-block-alumni-form" id="form">
  <div class="b-block-career-form__wrap js-b-form">
    <div class="b-block-career-form-new__title-wrap">

      <div class="b-block-career-form-new__title">Подай заявку <br>в Alumni-клуб</div>
      <div class="b-block-career-form-new__subtitle">Каждая заявка проходит модерацию.<br> При одобрении мы добавим тебя <br>в закрытый телеграм-канал</div>
    </div>
    <form action="http://127.0.0.1:3000"
      class="b-block-career-form__form b-career-form form js-b-form__form js-form-validate">
      <input class="js-url-query" type="hidden" name="url_query">
      <div class="b-block-career-form__inputs-wrap js-b-form-inputs active">
        <div class="b-career-form__row">
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Имя<span class="required">*</span></span>
            <input type="text" name="name" id="" class="b-career-form__field__input js-b-input__field"
              data-max-length="60" data-cyrLat-name data-required>
            <span class="alert-input-text"></span>
          </label>
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Фамилия<span class="required">*</span></span>
            <input type="text" name="surname" id="" class="b-career-form__field__input js-b-input__field"
              data-max-length="60" data-cyrLat-name data-required>
            <span class="alert-input-text"></span>
          </label>
        </div>

        <div class="b-career-form__row">
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Телефон<span class="required">*</span></span>
            <input type="tel" name="tel" id="" class="b-career-form__field__input js-b-input__field js-phone-mask"
              data-required>
            <span class="alert-input-text"></span>
          </label>
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Ник в телеграме<span class="required">*</span></span>
            <input type="text" name="telegram" id="" class="b-career-form__field__input js-b-input__field js-telegram-mask" data-telegram data-max-length="32" data-required>
            <span class="alert-input-text"></span>
          </label>
          
        </div>
        <div class="b-career-form__row">
          <label class="b-career-form__field js-nice-select-wrap js-city-select">
            <span class="b-career-form__field__label">Город<span class="required">*</span></span>
            <select name="city" id="" class="nice-select js-b-input__field js-nice-select" data-required>
              <option selected disabled value=""></option>
              {{#with this.store.cities}}
              {{#each list}}
              <option value="{{value}}">{{label}}</option>
              {{/each}}
              {{/with}}
            </select>
            <span class="alert-input-text"></span>
          </label>
        </div>
        <div class="b-career-form__row search-select__other js-city-other">
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Напиши свой вариант</span>
            <input type="text" name="city-other" id="" class="b-career-form__field__input js-b-input__field">
            <span class="alert-input-text"></span>
          </label>
        </div>
        <div class="b-career-form__row">
          <label class="b-career-form__field js-nice-select-wrap js-other-select" data-target="company-other">
            <span class="b-career-form__field__label">Юридическое лицо Холдинга Т1, в котором работал(а)<span class="required">*</span></span>
            <select name="company" id="" class="nice-select js-b-input__field js-nice-select" data-required>
              <option selected disabled value=""></option>
              {{#with this.store.company}}
              {{#each list}}
              <option value="{{value}}">{{label}}</option>
              {{/each}}
              {{/with}}
            </select>
            <span class="alert-input-text"></span>
          </label>
        </div>
        <div class="b-career-form__row search-select__other js-other" id="company-other">
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Напиши свой вариант</span>
            <input type="text" name="city-other" id="" class="b-career-form__field__input js-b-input__field">
            <span class="alert-input-text"></span>
          </label>
        </div>
        <div class="b-career-form__row">
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Должность в Холдинге Т1<span class="required">*</span></span>
            <input type="text" name="position" id="" class="b-career-form__field__input js-b-input__field" data-required>
            <span class="alert-input-text"></span>
          </label>
        </div>

        <div class="b-career-form__row">
          <label class="b-career-form__field js-b-input">
            <span class="b-career-form__field__label">Комментарий</span>
            <textarea type="text" name="comment" id="" class="b-career-form__field__input js-b-input__field"
              data-max-length="200"></textarea>
            <span class="alert-input-text"></span>
          </label>
        </div>

        <label class="b-career-form__checkbox">
          <input type="checkbox" name="tel" id="" class="b-career-form__checkbox__input js-b-input__field"
            data-required>
          <span class="b-career-form__checkbox__holder"></span>
          <span class="b-career-form__checkbox__label">Даю согласие на <a
              class="b-career-form__checkbox__link">обработку персональных данных</a></span>
          <span class="alert-input-text"></span>
        </label>
        <label class="b-career-form__checkbox">
          <input type="checkbox" name="tel" id="" class="b-career-form__checkbox__input">
          <span class="b-career-form__checkbox__holder"></span>
          <span class="b-career-form__checkbox__label">Я согласен на <a class="b-career-form__checkbox__link">получение
              рекламы</a></span>
          <span class="alert-input-text"></span>
        </label>

        <button type="submit" class="b-career-form__btn btn-white js-b-form-submit">Отправить резюме</button>

      </div>
      <div class="b-block-career-form__response-success js-b-form-success">
        {{{getImg src="form/success-img.png"}}}
        <span class="b-block-career-form__response-msg">Спасибо! Каждая заявка проходит модерацию.</span>
        <span class="b-block-career-form__response-msg">При одобрении мы добавим тебя в закрытый телеграм-канал.</span>
      </div>
      <div class="b-block-career-form__response-error js-b-form-error">
        {{{getImg src="form/back.png"}}}
        <span class="b-block-career-form__response-msg">Не удалось отправить форму.</span>
        <div class="b-block-career-form__back js-b-form-back">Попробовать еще раз</div>
      </div>
      <div class="b-block-career-form__loader js-b-form-loader">
        {{{getImg src="form/loader.png"}}}
      </div>
    </form>
  </div>
</div>