<section class="section block-banner-new block-video-banner-impuls section--no-margin-top{{#if className}} {{className}}{{/if}}">
  <div class="container">

    <div class="block-banner-new__wrap">
      <div class="block-banner-new__bg">
        <video src="assets/video/impuls-banner.mp4" class="video" autoplay muted loop></video>
      </div>
      <div class="block-banner-new__content">
        <div class="block-banner-new__content__logo">
          {{{getImg src="impulse-logo.png"}}}
        </div>
        <div class="block-banner-new__content__text-block">
          <div class="block-banner-new__content__roles-wrap">
            <div class="block-banner-new__content__role">
              {{{getSvg src="squere"}}}
              ИНЖЕНЕР
            </div>
            <div class="block-banner-new__content__role">
              {{{getSvg src="ellipse"}}}
              УЧЕНЫЙ
            </div>
            <div class="block-banner-new__content__role">
              {{{getSvg src="triangle"}}}
              ТВОРЕЦ
            </div>
          </div>
          <h2 class="block-banner-new__content__title">Инженеры<br> больших идей</h2>
        </div>
        <div class="block-banner-new__bottom-block">
          <a href="https://team.t1.ru/contests/bids" target="_blank"
            class="link btn btn-blue js-link{{#if btnClass}} {{btnClass}}{{/if}}">Зарегистрироваться</a>
    
          <div class="block-banner-new__bottom-block__info">
            <div class="block-banner-new__bottom-block__item" style="max-width: 33%;">Расписание мероприятий по городам</div>
            <div class="block-banner-new__bottom-block__item"><strong>17–18 ноября </strong>САНКТ-ПЕТЕРБУРГ</div>
            <div class="block-banner-new__bottom-block__item"><strong>28–29 ноября </strong>МОСКВА</div>
          </div>
        </div>
    
        <div class="block-banner-new__small-logo">
          {{{getSvg src="logo-white"}}}
        </div>
      </div>
    </div>
  </div>
</section>