<div class="b-block-figures">
    <div class="b-block-figures__wrap">
        <div class="b-block-figures__top">
            <div class="b-block-figures__item">
                <div class="b-block-figures__item__img">
                    {{{getImg src="figures/figure__1.png"}}}
                </div>
                <div class="b-block-figures__item__label">
                    Аккредитованная ИТ-компания
                </div>
            </div>
            <div class="b-block-figures__item">
                <div class="b-block-figures__item__img">
                    {{{getImg src="figures/figure__2.png"}}}
                </div>
                <div class="b-block-figures__item__label">
                    Производительное железо и необходимый софт
                </div>
            </div>
            <div class="b-block-figures__item">
                <div class="b-block-figures__item__img">
                    {{{getImg src="figures/figure__3.png"}}}
                </div>
                <div class="b-block-figures__item__label">
                    Рост и развитие при экспертной поддержке
                </div>
            </div>
        </div>
        <div class="b-block-figures__bottom">
            <div class="b-block-figures__item">
                <div class="b-block-figures__item__img">
                    {{{getImg src="figures/figure__4.png"}}}
                </div>
                <div class="b-block-figures__item__label">
                    Профессиональное обучение и программы признания
                </div>
            </div>
            <div class="b-block-figures__item">
                <div class="b-block-figures__item__img">
                    {{{getImg src="figures/figure__5.png"}}}
                </div>
                <div class="b-block-figures__item__label">
                    Гибкий рабочий день в офисе и на удаленке
                </div>
            </div>
            <div class="b-block-figures__item">
                <div class="b-block-figures__item__img">
                    {{{getImg src="figures/figure__6.png"}}}
                </div>
                <div class="b-block-figures__item__label">
                    Обратная связь от команды и программа наставничества
                </div>
            </div>
        </div>
        <div class="b-block-figures__ring">
            {{{getImg src="figures/figure__ring.png"}}}
        </div>
    </div>
</div>