<div class="block-silaron-list">
    {{> shared/section__title title="«СИЛАРОН» обеспечит 100% технологический суверенитет вашего предприятия"}}
  <div class="block-silaron-list__list">
    <div class="block-silaron-list__col">
      <div class="block-silaron-list__item">
        {{{getSvg src="plus"}}}
        Т1 Интеграция — собственник всей проектной документации
      </div>
      <div class="block-silaron-list__item">
        {{{getSvg src="plus"}}}
        Использование Российских процессоров ARM
      </div>
      <div class="block-silaron-list__item">
        {{{getSvg src="plus"}}}
        Производство полного цикла — на территории России
      </div>
    </div>
    <div class="block-silaron-list__col">
      <div class="block-silaron-list__item">
        {{{getSvg src="plus"}}}
        Российская ОС жесткого реального времени для контроллера
      </div>
      <div class="block-silaron-list__item">
        {{{getSvg src="plus"}}}
        Станции операторов и сервера Linux
      </div>
      <div class="block-silaron-list__item">
        {{{getSvg src="plus"}}}
        Собственная БДРВ
      </div>
    </div>
  </div>
</div>