{{#if link}}
    <div class="section__title-wrap">
        <h2 class="section__title{{#if titleClass}} {{titleClass}}{{/if}}">{{{title}}}</h2>
        <a href="{{link.href}}" class="section__link section__link--desk">
            {{link.label}}
            {{{getSvg src="arrow-link"}}}
        </a>
    </div>
{{else}}
    {{#if title}}
        <h2 class="section__title{{#if titleClass}} {{titleClass}}{{/if}}">{{{title}}}</h2>
    {{/if}}
{{/if}}
{{#if descr}}
    <div class="section__text-wrap{{#if descrClass}} {{descrClass}}{{/if}}">
        <p class="section__descr">
            {{{descr}}}
        </p>
    </div>
{{/if}}